.DS_Store
original-data/author-dblp/
original-data/Group_Pic_Data/
original-data/tripadvisor/
Ex0-ToyHypergraph/.DS_Store
Ex1-DBLP-genders/.DS_Store
Ex2-Congress-Bills/.DS_Store
Ex3-TripAdvisor/.DS_Store
Ex4-Pictures/.DS_Store
